body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:40px;
  width:500px;
  height:326px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:336px;
}
#u1 {
  position:absolute;
  left:2px;
  top:155px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:250px;
  top:140px;
  width:200px;
  height:100px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
