body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:500px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:40px;
  width:500px;
  height:326px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:336px;
}
#u1 {
  position:absolute;
  left:2px;
  top:155px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:100px;
  top:40px;
  width:500px;
  height:26px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:26px;
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:260px;
  top:40px;
  width:100px;
  height:26px;
  color:#FFFFFF;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u5 {
  position:absolute;
  left:0px;
  top:5px;
  width:100px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:572px;
  top:45px;
  width:16px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:512px;
  top:43px;
  width:18px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:541px;
  top:45px;
  width:21px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u11 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:110px;
  top:93px;
  width:132px;
  height:247px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:247px;
}
#u13 {
  position:absolute;
  left:2px;
  top:116px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:110px;
  top:100px;
  width:21px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:131px;
  top:105px;
  width:47px;
  height:15px;
  font-size:12px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:15px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:110px;
  top:130px;
  width:21px;
  height:20px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u19 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:131px;
  top:134px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:131px;
  top:159px;
  width:20px;
  height:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:151px;
  top:163px;
  width:69px;
  height:15px;
  font-size:12px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:131px;
  top:189px;
  width:18px;
  height:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:151px;
  top:194px;
  width:69px;
  height:15px;
  font-size:12px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:15px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:100px;
  top:66px;
  width:49px;
  height:29px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:29px;
}
#u31 {
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:131px;
  top:192px;
  width:89px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:131px;
  top:161px;
  width:89px;
  height:17px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:116px;
  top:130px;
  width:62px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u35 {
  position:absolute;
  left:242px;
  top:93px;
  width:352px;
  height:247px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:247px;
}
#u36 {
  position:absolute;
  left:2px;
  top:116px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:250px;
  top:100px;
  width:25px;
  height:15px;
  opacity:0.5;
  font-size:12px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:406px;
  top:100px;
  width:49px;
  height:15px;
  opacity:0.5;
  font-size:12px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:539px;
  top:99px;
  width:25px;
  height:15px;
  opacity:0.5;
  font-size:12px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:386px;
  top:100px;
  width:10px;
  height:15px;
  opacity:0.3;
}
#u43_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u43_end {
  position:absolute;
  left:-5px;
  top:-2px;
  width:20px;
  height:18px;
}
#u43_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:15px;
}
#u44 {
  position:absolute;
  left:516px;
  top:99px;
  width:10px;
  height:16px;
  opacity:0.3;
}
#u44_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u44_end {
  position:absolute;
  left:-5px;
  top:-1px;
  width:20px;
  height:18px;
}
#u44_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:16px;
}
#u45 {
  position:absolute;
  left:250px;
  top:125px;
  width:21px;
  height:20px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u46 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:271px;
  top:129px;
  width:19px;
  height:15px;
  font-size:12px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:250px;
  top:208px;
  width:20px;
  height:19px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:19px;
}
#u50 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:271px;
  top:210px;
  width:19px;
  height:15px;
  font-size:12px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:250px;
  top:152px;
  width:21px;
  height:20px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u54 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:271px;
  top:156px;
  width:19px;
  height:15px;
  font-size:12px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u57 {
  position:absolute;
  left:250px;
  top:178px;
  width:21px;
  height:20px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
}
#u58 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:271px;
  top:182px;
  width:19px;
  height:15px;
  font-size:12px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:15px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:250px;
  top:119px;
  width:62px;
  height:25px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
